*{
    margin: 0;
}

body{
    margin: 0;
    background-color: #fff9ef;
}

.noto-serif-display {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.navbar {
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff9ef;
    padding: 20px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0;
    padding: 0 20px;
    z-index: 1;
    position: relative;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibilty 0.5s ease;
}

.overlay-active{
    opacity: 1;
    visibility: visible;
    
}

.logo a {
    color: #fff9ef;
    text-decoration: none;
    font-size: 36px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 0;
}

.sidemenu{
  position: absolute;
  top: 0;
}

.nav-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    top: 0;
    left: -100%;
    list-style: none;
    background-color: #333;
    height: 100vh;
    width: 30vw;
    padding: 0;
    z-index: 4;
    transition: left 0.5s ease;
}

.nav-links.active {
    left: 0;
}

.cat-dropdown{
  display: flex;
  width: 100%;
  position: relative;
  padding: 20px;
  margin-top: 40px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.dropdown{
  overflow: hidden;
}

.dropdown .dropbtn{
  font-size: 18px;
  border: none;
  outline: none;
  color: #333;
  background-color: #fff9ef;
  width: 140px;
  padding: 10px;
  border-radius: 2.5px;
  margin: 0;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff9ef;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover, .dropdown-content a:active {
  background-color: #d4d4d4;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.links{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
}

.links li{
  padding: 10px;
}

.links a {
  color: #fff9ef;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.hamburger{
  display: block;
}

.hamburger, .close-menu {
    line-height: 0%;
    z-index: 5;
    font-size: 24px;
    cursor: pointer;
}

.close-menu{
    display: block;
    position: fixed;
    left: -100%;
    color: #fff9ef;
    padding: 20px;
    padding-left: 20px;
    transition: left 0.5s ease;
}

.close-menu-active{
    left: 0;
}

.personal{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 24px;
}

.personal i{
    font-size: 24px;
    color: #fff9ef; 
    padding: 0 10px;
}

.heading{
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.heading h1{
  font-family: "Noto Serif Display";
  font-weight: bold;
  font-size: 40px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.heading hr{
  border: 1px solid #333;
  color: #333;
}

.main-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.left-container{
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cart-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item{
  border: 1px solid #333;
  border-radius: 2.5px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.item .row{
  display: flex;
  justify-content: space-between;
}

.item .text{
  display: flex;
  flex-direction: column;
}

.item .info{
  font-size: 16px;
  font-family: "Noto Sans mono";
  margin-bottom: 10px;
}

.item .info p{
  display: inline-block;
}

.item .price{
  font-size: 20px;
  font-weight: bold;
  font-family: "Noto Serif Display";
}

.item img{
  height: 150px;
  object-fit: cover;
  float: right;
  border-radius: 5px;
  margin-bottom: 20px;
}

.item .option-container{
  display: flex;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
  gap: 10px;
  align-items: center;
}

.item .option-container select{
  width: 50px;
  padding: 2.5px;
  background-color: #fff9ef;
}

.item .btn-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.item .btn-container .btn{
  font-size: 18px;
  font-family: "Noto Serif Display";
  border: 1px solid #333;
  padding: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.item .btn-container .btn i{
  padding-right: 10px;
  font-size: 12px;
}

.right-container{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.summary-container{
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 2.5px;
}

.summary-title{
  font-family: "Noto Serif Display";
  font-size: 28px;
}

.summary-row{
  display: flex;
  justify-content: space-between;
}

.summary-row p{
  font-family: "Noto Sans mono";
  padding: 5px;
}

.summary-row-final{
  display: flex;
  justify-content: space-between;
}

.summary-row-final p{
  font-family: "Noto Sans mono";
  font-weight: bold;
  padding: 5px;
}

.summary-container p{
  padding: 5px;
  font-family: "Noto Sans mono";
}

.price-checkout-btn-container{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-checkout-btn-container .total{
  font-family: "Noto Serif Display";
  font-size: 24px;
  font-weight: bold;
  width: 50%;
  padding-left: 5px;
}

.price-checkout-btn-container .checkout-btn{
  border: 2px solid #333;
  border-radius: 2.5px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background-color: #333;
  color: #fff9ef;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  font-family: "Noto Serif Display";
  transition: background-color 0.2s ease, color 0.2s ease;
}

.checkout-btn:hover{
  background-color: #fff9ef;
  color: #333;
}

.mobile-checkout-btn{
  display: none;
}


@media (max-width: 768px) {

    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .personal{
        height: 16px;
    }

    .personal i{
        font-size: 20px;
        padding: 0 7.5px;
    }
    
    .navbar{
      z-index: 3;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: -100%;
        left: 0;
        background-color: #333;
        color: #fff9ef;
        padding: 20px 0;
        height: 55%;
        width: 100%;
        align-items: center;
        justify-content: center;
        transition: top 0.5s ease;
    }

    .nav-links.active{
        top:60px;
    }

    .logo a{
        font-size: 22px;
        position: inherit;
        line-height: 100%;
        font-weight: bold;
    }

    .hamburger, .close-menu{
        font-size: 20px;
        line-height: 50%;
    }

    .hamburger{
        height: 100%;
        width: 16px;
    }

    .close-menu{
      padding: 15px 20px;
      z-index: 10;
    }

    .close-menu{
        display: block;
        position: fixed;
        top: -100%;
        left: 0;
        color: #fff9ef;
        padding: 20px;
        padding-left: 20px;
        transition: top 0.5s ease;
    }
    
    .close-menu-active{
        top: 0;
        left: 0;
    }

    .container{
        padding: 0 20px;
        z-index: 2;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .heading{
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }
    
    .heading h1{
      font-family: "Noto Serif Display";
      font-weight: bold;
      font-size: 26px;
      padding-left: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    
    .heading hr{
      border: 1px solid #333;
      color: #333;
    }
    
    .main-container{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      align-items: center;
    }
    
    .left-container{
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    
    .cart-container{
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    
    .item{
      border: 1px solid #333;
      border-radius: 2.5px;
      margin-top: 0px;
      margin-bottom: 10px;
      margin-left: 0px;
      padding: 10px;
      display: flex;
      flex-direction: column;
    }
    
    .item .row{
      display: flex;
      justify-content: space-between;
    }
    
    .item .text{
      display: flex;
      flex-direction: column;
    }
    
    .item .info{
      font-size: 14px;
      font-family: "Noto Sans mono";
      margin-bottom: 5px;
    }
    
    .item .info p{
      display: inline-block;
    }
    
    .item .price{
      font-size: 16px;
      font-weight: bold;
      font-family: "Noto Serif Display";
    }
    
    .item img{
      height: 100px;
      object-fit: cover;
      float: right;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    
    .item .option-container{
      display: flex;
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: 5px;
      gap: 10px;
      align-items: center;
    }
    
    .item .option-container select{
      width: 50px;
      font-size: 12px;
      padding: 2.5px;
      background-color: #fff9ef;
    }
    
    .item .btn-container{
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
    
    .item .btn-container .btn{
      font-size: 14px;
      font-family: "Noto Serif Display";
      border: 1px solid #333;
      padding: 10px;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    
    .item .btn-container .btn i{
      padding-right: 5px;
      font-size: 12px;
    }
    
    .right-container{
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 100px;
    }
    
    .summary-container{
      margin-left: 0px;
      margin-right: 0px;
      padding: 20px;
      border: 1px solid #333;
    }
    
    .summary-title{
      font-family: "Noto Serif Display";
      font-size: 20px;
    }
    
    .summary-row{
      display: flex;
      justify-content: space-between;
    }
    
    .summary-row p{
      font-family: "Noto Sans mono";
      padding: 5px;
      font-size: 14px;
    }
    
    .summary-row-final{
      display: flex;
      justify-content: space-between;
    }
    
    .summary-row-final p{
      font-family: "Noto Sans mono";
      font-weight: bold;
      padding: 5px;
    }
    
    .summary-container p{
      padding: 5px;
      font-family: "Noto Sans mono";
    }
    
    .price-checkout-btn-container{
      margin-top: 10px;
      display: none;
      justify-content: space-between;
      align-items: center;
      
    }
    
    .price-checkout-btn-container .total{
      font-family: "Noto Serif Display";
      font-size: 20px;
      font-weight: bold;
      width: 50%;
      padding-left: 5px;
    }
    
    .price-checkout-btn-container .checkout-btn{
      border: 2px solid #333;
      border-radius: 2.5px;
      padding: 10px;
      text-align: center;
      width: 100%;
      background-color: #333;
      color: #fff9ef;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      font-family: "Noto Serif Display";
      transition: background-color 0.2s ease, color 0.2s ease;
    }
    
    .checkout-btn:hover{
      background-color: #fff9ef;
      color: #333;
    }

    .mobile-checkout-btn{
      margin-top: 10px;
      display: flex;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #fff9ef;
      position: fixed;
      bottom: 0;
      justify-content: space-between;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .mobile-checkout-btn .total{
      font-family: "Noto Serif Display";
      font-size: 24px;
      font-weight: bold;
      width: 50%;
      margin-left: 20px;
    }
    
    .mobile-checkout-btn .checkout-btn{
      border: 2px solid #333;
      border-radius: 2.5px;
      padding: 10px;
      margin-right: 20px;
      text-align: center;
      width: 100%;
      background-color: #333;
      color: #fff9ef;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      font-family: "Noto Serif Display";
      transition: background-color 0.2s ease, color 0.2s ease;
    }
    
    .checkout-btn:hover{
      background-color: #fff9ef;
      color: #333;
    }

}