html{
  margin: 0;
}

*{
  margin: 0;
}

@font-face {
  font-family: 'Sifty';
  src: url('/fonts/sifty_demo-webfont.woff2.woff2') format('woff2'),
      url('/fonts/sifty_demo-webfont.woff') format('woff');
}



body{
  margin: 0;
  background-color: #fff9ef;
}


.navbar {
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 225, 225,0);
  padding:0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  transition:padding 0.3s ease;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0;
  padding:44px 36px;
  z-index: 1;
  position: relative;
  background-color: rgba(255, 225, 225, 0);
  transition: background-color 0.5s ease,padding 0.5s ease;
}

.container.opaque{
  padding:24px 36px;
  background-color: #333;
}

.search{
  line-height: 0%;
  z-index: 5;
  font-size: 24px;
  cursor: pointer;
}

.search a{
  text-decoration: none;
  color: #333;
  transition:color 0.5s ease;
}

.search a.light{
  color: #fff9ef;
}

.search a.opaque{
  color: #fff9ef;
}

.logo-text {
  color: #333;
  text-decoration: none;
  font-size: 64px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  line-height: 0;
  font-family: "Noto Serif Display";
  font-weight: 900;
  transition:color 0.5s ease, font-size 0.5s ease;

}

.logo-text.light{
  color: #fff9ef;
}

.logo-text.opaque{
  font-size: 42px;
  color: #fff9ef;
}

.line{
  width: 0%;
  display: flex;
  align-self: center;
  transition: width 0.5s ease;
  border: 0;
}

.line.opaque{
  width: 100%;
  border: 1px solid #fff9ef;
}

.navbar2{
  display: flex;
  justify-content: center;
  padding: 0 0;
  background-color: rgba(240, 234, 223,0);
  box-shadow: none;
  color: #333;
  transition:color 0.5s ease, background-color 0.5s ease,box-shadow 0.5s ease;

}

.navbar2.light{
  color: #fff9ef;
}

.navbar2.opaque{
  background-color: #3a3a3a;
  color: #fff9ef;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar2 ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
}

.navbar2 li{
  font-family: "Noto Sans mono";
  font-size: 20px;
  padding-top: 16px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}

.navbar2 a{
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  -moz-transition: text-shadow 0.2s ease-in;
  -o-transition: text-shadow 0.2s ease-in;
  -webkit-transition: text-shadow 0.2s ease-in;
  transition: text-shadow 0.2s ease-in;
}

.navbar2 a:hover{
  color: inherit;
  text-shadow:0px 0px 30px #333;
  -moz-transition: text-shadow 0.2s ease-in;
  -o-transition: text-shadow 0.2s ease-in;
  -webkit-transition: text-shadow 0.2s ease-in;
  transition: text-shadow 0.2s ease-in;
}

.navbar2.opaque a:hover{
  color: inherit;
  text-shadow:0px 0px 30px #333;
  -moz-transition: text-shadow 0.2s ease-in;
  -o-transition: text-shadow 0.2s ease-in;
  -webkit-transition: text-shadow 0.2s ease-in;
  transition: text-shadow 0.2s ease-in;
}

.navbar2 ul li .underline{
  height: 5px;
  background-color: transparent;
  width: 0%;
  display: flex;
  align-self: center;
  transition: width 0.2s ease,background-color 0.2s ease;
  margin: 0;
  border-radius: 50px;
  margin-top: 2.5px;
}

.navbar2 ul li:hover .underline{
  background-color: #333;
  width: 30px;
}

.navbar2.light ul li:hover .underline{
  background-color: #fff9ef;
  width: 30px;
}

.navbar2.opaque ul li:hover .underline{
  background-color: #fff9ef;
  width: 30px;
}

.menu-container{
  position: absolute;
  padding: 0;
  top: 190px;
  width: 100%;
  left: 0;
  background-color: #fff9ef4f;
  border: 1px solid #333;
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar2 li:hover .menu-container{
  transition: all 0.3s ease;
  top: 178px;
  opacity: 1;
  visibility: visible;
}

.navbar2.light li:hover .menu-container{
  color: #fff9ef;
}

.navbar2.opaque li:hover .menu-container{
  transition: all 0.3s ease;
  background-color: #fff9ef;
  top: 136px;
  opacity: 1;
  visibility: visible;
}

.menu-container .content{
  padding: 25px 40px;
  display: flex;
  justify-content: space-between;
  color: #333;
  height: 450px;
}

.menu-container .content .row{
  width: 25%;
  line-height: 40px;
}

.content .row img{
  height: 90%;
  width: 100%;
  object-fit: cover;
  border-radius: 2.5px;
  border: 1px solid #333;
}

.navbar2 .content .row p{
  font-family: "Noto sans mono";
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: #333;
  transition:color 0.5s ease;
}
.navbar2 .content.light .row p{
  font-family: "Noto sans mono";
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: #fff9ef;
  transition:color 0.5s ease;
}
.navbar2.opaque .content.light .row p{
  font-family: "Noto sans mono";
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: #333;
}

.navbar2 .content .row header{
  color: #333;
  font-size: 20px;
  margin-left: 0px;
  border-bottom: 1px solid #333;
  transition:color 0.5s ease;
}
.navbar2 .content.light .row header{
  color: #fff9ef;
  font-size: 20px;
  margin-left: 0px;
  border-bottom: 1px solid #fff9ef;
  transition:color 0.5s ease;
}
.navbar2.opaque .content.light .row header{
  color: #333;
  font-size: 20px;
  margin-left: 0px;
  border-bottom: 1px solid #333;
}

.content .row .menu-links{
  display: block;
  margin-left: -60px;
  width: 100%;
}

.row .menu-links li{
  padding: 0 0;
}

.navbar2 .row .menu-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #333;
  font-size: 18px;
  display: block;
  transition:all 0.3s ease;
}

.navbar2 .row .menu-links li a.light{
  padding: 0px;
  padding: 0 20px;
  color: #fff9ef;
  font-size: 18px;
  display: block;
}


.navbar2.opaque .row .menu-links li a.light{
  padding: 0px;
  padding: 0 20px;
  color: #333;
  font-size: 18px;
  display: block;
}

.personal{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 24px;
}

.signedin-icons i{
  font-size: 24px;
  color: #333; 
  padding: 0 10px;
  transition: color 0.5s ease;
}

.signedin-icons i.light{
  color: #fff9ef;
}

.signedin-icons i.opaque{
  color: #fff9ef;
}

.loginbtn a{
  color: #333;
  text-decoration: none;
  font-size: 24px;
  font-family: "Noto Serif Display";
  text-align: center;
  font-weight: bold;
  display: block;
  padding-left: 20px;
  transition: color 0.5s ease;
}

.loginbtn a.light{
  color: #fff9ef;
}

.loginbtn a.opaque{
  color: #fff9ef;
}


.slideshow-container {
    z-index: 1;
    max-width: 100%;
    position: relative;
    margin: 0;
    top: 0;
  }

  .slideshow-container a img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .slideshow-container-mobile{
    display: none;
  }
  

  .dot-container{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 1.5%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .dot-container-mobile{
    display: none;
  }
  
  .numbertext {
    color: #fff9ef;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #333;
    margin: 0 2px;
    display: inline-block;
    transition: background-color 0.6s ease, width 0.6s ease, border-radius 0.6s ease;
    cursor: pointer;
  }

  .dot.light{
    border: 1px solid #fff9ef;
  }
  
  .activeslide {
    width: 30px;
    border-radius: 8px;
    background-color: #333;
  }

  .activeslide.light{
    background-color: #fff9ef;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  .mySlides img {
    width: 100%;
    height: auto;
  }

  .shop-btn-container{
    display: flex;
    margin-top: 20px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
    position: absolute;
    bottom: 5%;
  }

  .shop-btn {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    font-family: "Noto Serif Display";
    font-weight: bold;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    background-color: rgba(255, 249, 239,0.5);
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: background 0.2s ease, color 0.2s ease;
  }

  .shop-btn:hover{
    background-color: #fff9ef;
    color: #333;
  }

  .shop-btn.light{
    background-color: rgb(255, 249, 239);
  }

  .border{
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .border img{
    height: 20px;
  }

  .heading{
    font-family: "Noto Serif Display";
    display: flex;
    font-size: 36px;
    font-weight: 700;
  }

  .new-drops-container{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .new-drops-tiles-container{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 20px;
  }

  .drop-card {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 2.5px;
  }

  .drop-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .best-sellers-container{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }


  .collection-container{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .collection-tiles-container{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 40px;
  }

  .collection-card {
    width: 45vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 2.5px;
  }

.collection-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .collection-btn{
    bottom: 10px;
    position: absolute;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
    border: 2px solid #333;
    background-color: #fff9ef;
    text-align: center;
    color: #333;
    font-size: 14px;
    font-family: "Noto Serif Display";
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: background 0.2s ease, color 0.2s ease;

  }

  .collection-btn:hover, .collection-btn:active{
    background-color: #333;
    color: #fff9ef;
  }


  .footer{
    background-color: #333; 
    color: #fff9ef; 
    padding: 40px 0;
  }

  .footer-container{
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap;
  }

  .footer-about-container{
    flex: 1; 
    min-width: 250px; 
    margin-bottom: 20px;
  }  

  .footer-about-container h3{
    color: #fff9ef; 
    font-size: 1.5rem; 
    margin-bottom: 15px;
    font-family: "Noto Serif Display";
  }

  .footer-about-container img{
    height: 100px;
  }

  .footer-about-container p{
    line-height: 1.6;
    font-family: "Noto Sans mono";
  }

  .footer-links-container{
    flex: 1; min-width: 250px; margin-bottom: 20px;
  }

  .footer-links-container h3{
    color: #fff9ef; 
    font-size: 1.5rem; 
    margin-bottom: 15px;
    font-family: "Noto Serif Display";
  }

  .footer-links-container ul{
    list-style: none; 
    padding: 0;
    font-family: "Noto Sans mono";
  }

  .footer-links-container ul a{
    color: #fff9ef; 
    text-decoration: none; 
    line-height: 2;
  }

  .footer-letter-container{
    flex: 1; 
    min-width: 250px; 
    margin-bottom: 20px;
  }

  .footer-letter-container h3{
    color: #fff9ef; 
    font-size: 1.5rem; 
    margin-bottom: 15px;
    font-family: "Noto Serif Display";
  }

  .footer-letter-container p{
    line-height: 1.6;
    font-family: "Noto Sans mono";
  }

  .footer-letter-container form input{
    padding: 10px; 
    width: 100%; 
    margin-bottom: 10px; 
    border: none;
    font-family: "Noto Sans mono";
    background-color: #fff9ef;
    border-radius: 2.5px;
  }

  .footer-letter-container form button{
    background-color: #fff9ef; 
    color: #333; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer;
    border-radius: 2.5px;
    font-family: "Noto Sans mono";
    font-weight: bold;
  }

  .copyright-container{
    text-align: center; 
    padding-top: 20px; 
    border-top: 1px solid #333;
  }



  /* Responsive styles */
@media (max-width: 768px) {
    
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.personal{
    height: 16px;
}

.personal i{
    font-size: 20px;
    padding: 0 7.5px;
}

.navbar{
  z-index: 3;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -100%;
    left: 0;
    background-color: #333;
    color: #fff9ef;
    padding: 20px 0;
    height: 55%;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: top 0.5s ease;
}

.nav-links.active{
    top:60px;
}

.logo a{
  font-size: 24px;
  position: inherit;
  line-height: 100%;
  font-weight: bold;
}

.hamburger, .close-menu{
    font-size: 20px;
    line-height: 50%;
}

.hamburger{
    width: 16px;
}

.close-menu{
  padding: 15px 20px;
  z-index: 10;
}

.close-menu{
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    color: #fff9ef;
    padding: 20px;
    padding-left: 20px;
    transition: top 0.5s ease;
}

.close-menu-active{
    top: 0;
    left: 0;
}

.container{
    padding: 0 20px;
    z-index: 2;
}

.nav-links li {
    margin: 10px 0;
}

    .hamburger {
        display: block;
    }

    .slideshow-container{
        display: none;
    }

    .slideshow-container-mobile{
        display: flex;
        flex-direction: column;
        z-index: 1;
        max-width: 100%;
        position: relative;
        margin: 0;
        top: 0;
      }

    .dot-container-mobile{
        display: flex;
        justify-content: center;
    }

    .dot {
        height: 3px;
        width: 15px;
      }

    .heading{
        font-size: 16px;
    }

    .shop-btn-container{
      width: 80%;
    }

    .shop-btn{
      font-size: 14px;
      padding: 10px;
      width: 120px;
    }

    .border img{
      height: 10px;
    }

    .collection-tiles-container{
      grid-template-columns: repeat(1,auto);
    }

    .collection-card{
      width: 80vw;
      height: 400px;
    }

    .collection-btn{
      position: relative;
      bottom: 15%;
    }
}
  