html{
  margin: 0;
}

*{
  margin: 0;
}

@font-face {
  font-family: 'Sifty';
  src: url('/fonts/sifty_demo-webfont.woff2.woff2') format('woff2'),
      url('/fonts/sifty_demo-webfont.woff') format('woff');
}



body{
  margin: 0;
  background-color: #fff9ef;
}


.navbar {
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 225, 225,0);
  padding:0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  transition:padding 0.3s ease;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0;
  padding:44px 36px;
  z-index: 1;
  position: relative;
  background-color: rgba(255, 225, 225, 0);
  transition: background-color 0.5s ease,padding 0.5s ease;
}

.container.opaque{
  padding:24px 36px;
  background-color: #333;
}

.search{
  line-height: 0%;
  z-index: 5;
  font-size: 24px;
  cursor: pointer;
}

.search a{
  text-decoration: none;
  color: #333;
  transition:color 0.5s ease;
}

.search a.light{
  color: #fff9ef;
}

.search a.opaque{
  color: #fff9ef;
}

.logo-text {
  color: #333;
  text-decoration: none;
  font-size: 64px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  line-height: 0;
  font-family: "Noto Serif Display";
  font-weight: 900;
  transition:color 0.5s ease, font-size 0.5s ease;

}

.logo-text.light{
  color: #fff9ef;
}

.logo-text.opaque{
  font-size: 42px;
  color: #fff9ef;
}

.line{
  width: 0%;
  display: flex;
  align-self: center;
  transition: width 0.5s ease;
  border: 0;
}

.line.opaque{
  width: 100%;
  border: 1px solid #fff9ef;
}

.navbar2{
  display: flex;
  justify-content: center;
  padding: 0 0;
  background-color: rgba(240, 234, 223,0);
  box-shadow: none;
  color: #333;
  transition:color 0.5s ease, background-color 0.5s ease,box-shadow 0.5s ease;

}

.navbar2.light{
  color: #fff9ef;
}

.navbar2.opaque{
  background-color: #3a3a3a;
  color: #fff9ef;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar2 ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
}

.navbar2 li{
  font-family: "Noto Sans mono";
  font-size: 20px;
  padding-top: 16px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}

.navbar2 a{
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  -moz-transition: text-shadow 0.2s ease-in;
  -o-transition: text-shadow 0.2s ease-in;
  -webkit-transition: text-shadow 0.2s ease-in;
  transition: text-shadow 0.2s ease-in;
}

.navbar2 a:hover{
  color: inherit;
  text-shadow:0px 0px 30px #333;
  -moz-transition: text-shadow 0.2s ease-in;
  -o-transition: text-shadow 0.2s ease-in;
  -webkit-transition: text-shadow 0.2s ease-in;
  transition: text-shadow 0.2s ease-in;
}

.navbar2.opaque a:hover{
  color: inherit;
  text-shadow:0px 0px 30px #333;
  -moz-transition: text-shadow 0.2s ease-in;
  -o-transition: text-shadow 0.2s ease-in;
  -webkit-transition: text-shadow 0.2s ease-in;
  transition: text-shadow 0.2s ease-in;
}

.navbar2 ul li .underline{
  height: 5px;
  background-color: transparent;
  width: 0%;
  display: flex;
  align-self: center;
  transition: width 0.2s ease,background-color 0.2s ease;
  margin: 0;
  border-radius: 50px;
  margin-top: 2.5px;
}

.navbar2 ul li:hover .underline{
  background-color: #333;
  width: 30px;
}

.navbar2.light ul li:hover .underline{
  background-color: #fff9ef;
  width: 30px;
}

.navbar2.opaque ul li:hover .underline{
  background-color: #fff9ef;
  width: 30px;
}

.menu-container{
  position: absolute;
  padding: 0;
  top: 188px;
  width: 100%;
  left: 0;
  background-color: #fff9ef4f;
  border: 1px solid #333;
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar2.opaque .menu-container{
  top: 146px;
}

.navbar2 li:hover .menu-container{
  transition: all 0.2s ease;
  top: 178px;
  opacity: 1;
  visibility: visible;
}

.navbar2.light li:hover .menu-container{
  color: #fff9ef;
}

.navbar2.opaque li:hover .menu-container{
  transition: all 0.2s ease;
  background-color: #fff9ef;
  top: 136px;
  opacity: 1;
  visibility: visible;
}

.menu-container .content{
  padding: 25px 40px;
  display: flex;
  justify-content: space-between;
  color: #333;
  height: 450px;
}

.menu-container .content .row{
  width: 25%;
  line-height: 40px;
}

.content .row img{
  height: 90%;
  width: 100%;
  object-fit: cover;
  border-radius: 2.5px;
  border: 1px solid #333;
}

.navbar2 .content .row p{
  font-family: "Noto sans mono";
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: #333;
  transition:color 0.5s ease;
}
.navbar2 .content.light .row p{
  font-family: "Noto sans mono";
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: #fff9ef;
  transition:color 0.5s ease;
}
.navbar2.opaque .content.light .row p{
  font-family: "Noto sans mono";
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: #333;
}

.navbar2 .content .row header{
  color: #333;
  font-size: 20px;
  margin-left: 0px;
  border-bottom: 1px solid #333;
  transition:color 0.5s ease;
}
.navbar2 .content.light .row header{
  color: #fff9ef;
  font-size: 20px;
  margin-left: 0px;
  border-bottom: 1px solid #fff9ef;
  transition:color 0.5s ease;
}
.navbar2.opaque .content.light .row header{
  color: #333;
  font-size: 20px;
  margin-left: 0px;
  border-bottom: 1px solid #333;
}

.content .row .menu-links{
  display: block;
  margin-left: -60px;
  width: 100%;
}

.row .menu-links li{
  padding: 0 0;
}

.navbar2 .row .menu-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #333;
  font-size: 18px;
  display: block;
  transition:all 0.3s ease;
}

.navbar2 .row .menu-links li a.light{
  padding: 0px;
  padding: 0 20px;
  color: #fff9ef;
  font-size: 18px;
  display: block;
}


.navbar2.opaque .row .menu-links li a.light{
  padding: 0px;
  padding: 0 20px;
  color: #333;
  font-size: 18px;
  display: block;
}

.personal{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 24px;
}

.signedin-icons i{
  font-size: 24px;
  color: #333; 
  padding: 0 10px;
  transition: color 0.5s ease;
}

.signedin-icons i.light{
  color: #fff9ef;
}

.signedin-icons i.opaque{
  color: #fff9ef;
}

.loginbtn{
  display: none;
}

.loginbtn a{
  color: #333;
  text-decoration: none;
  font-size: 24px;
  font-family: "Noto Serif Display";
  text-align: center;
  font-weight: bold;
  display: block;
  padding-left: 20px;
  transition: color 0.5s ease;
}

.loginbtn a.light{
  color: #fff9ef;
}

.loginbtn a.opaque{
  color: #fff9ef;
}

.page-navigation-list{
  padding-top: 40px;
  padding-left: 40px;
  list-style: none;
  margin-top: 150px;
}

.page-navigation-list li{
  display: inline-block;
}

.page-navigation-list a{
  text-decoration: none;
  color: #333;
  font-family: "Noto Sans Mono";
  font-size: 14px;
}

.main-container{
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fit,minmax(35vw,1fr));
  gap: 20px;
}

.left-container{
  padding-top: 10px;
  padding-left: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
  gap: 10px;
}

.top-container-mobile{
  display: none;
}

.left-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/5;
}

.full-screen-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.full-screen-overlay img {
  max-width: 90%;
  max-height: 90%;
}

.full-screen-overlay.show {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.full-screen-overlay .prev, .full-screen-overlay .next {
  position: absolute;
  top: 45%;
  left: 25%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #fff9ef;
  font-weight: bold;
  font-size: 40px;
  cursor: pointer;
  user-select: none;
  border-radius: 0 3px 3px 0;
  transition: 0.6s ease;
}

.full-screen-overlay .next {
  right: 25%;
  left: auto;
  border-radius: 3px 0 0 3px;
}

.right-container{
  padding-top: 10px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-info-container{
  display: flex;
  width: 85%;
  flex-direction: row;
  justify-content: space-between;
}

.product-info-container h1{
  font-size: 30px;
  font-family: "Noto Serif Display",serif;
}

.product-info-container p{
  font-size: 16px;
  font-family: "Noto Sans Mono";
}

.product-name-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-price-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.size-container{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 80%;
  background-color: #fff9ef;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #333;
}

.size-container p{
  font-size: 18px;
    font-family: "Noto Sans Mono";
  font-weight: bold;
}

.size-list{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 20px;
}

.size-list-btn{
  border: 2px solid #333;
  color: #333;
  background-color: #fff9ef;
  font-size: 14px;
  font-family: "Noto Sans Mono";
  padding: 10px;
  width: 30px;
  border-radius: 5px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}


.size-list-btn:hover, .size-list-btn:active{
  color: #fff9ef;
  background-color: #333;
}

.quantity-container{
  margin-top: 20px;
  width: 80%;
}

label[for="quantity-dropdown"] {
  font-size: 20px;
  font-weight: bold;
  margin-right: 8px;
  font-family: "Noto Sans mono";
}

/* Style the dropdown */
.quantity-dropdown {
  font-size: 16px;
  font-family: "Noto Sans mono";
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff9ef;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #333;
  transition: border-color 0.3s;
}

.quantity-dropdown:focus {
  border-color: #333;
  outline: none;
}


.selected{
  color: #fff9ef;
  background-color: #333;
}

.buy-btn-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 30px;
  justify-content: center;
}

.buy-btn-container i{
  padding-right: 10px;
}

.cart-btn{
  font-size: 18px;
  text-align: center;
  font-weight: bold;
    font-family: "Noto Sans Mono";
  border: 2px solid #333;
  background-color: #333;
  color: #fff9ef;
  border-radius: 5px;
  padding: 10px;
  margin-right: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.cart-btn:hover, .cart-btn:active{
  background-color: #fff9ef;
  color: #333;
}

.wishlist-btn{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
    font-family: "Noto Sans Mono";
  border: 2px solid #333;
  background-color: #fff9ef;
  color: #333;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.wishlist-btn:hover, .wishlist-btn:active{
  background-color: #333;
  color: #fff9ef;
}

.details-button{
  font-size: 20px;
  font-family: 'Noto Serif Display';
  font-weight: bold;
  background-color: #fff9ef;
  padding: 10px;
  margin-top: 50px;
  width: 80%;
  border-radius: 5px;
  border: 2px solid #333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.desp-button{
  font-size: 20px;
  font-family: 'Noto Serif Display';
  font-weight: bold;
  background-color: #fff9ef;
  padding: 10px;
  margin-top: 10px;
  width: 80%;
  border-radius: 5px;
  border: 2px solid #333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}


.collapsible {
  width: 80%;
  position: relative;
    font-family: "Noto Sans Mono";
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.collapsible.expanded {
  opacity: 1;
  max-height: 500px; /* Adjust this value according to your content height */
}

.collapsible ul {
  margin: 10px;
  margin-left: 0;
  font-size: 16px;
}

.collapsible li{
  padding: 5px;
}

.collapsible p{
  text-align: justify;
  margin: 10px;
  font-size: 16px;
  color: #333;
}

.details-button i,
.desp-button i {
    transition: transform 0.5s ease;
}

.details-button.expanded i,
.desp-button.expanded i {
    transform: rotate(180deg);
}



@media (max-width: 768px) {

    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .personal{
        height: 16px;
    }

    .personal i{
        font-size: 20px;
        padding: 0 7.5px;
    }
    
    .navbar{
      z-index: 3;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: -100%;
        left: 0;
        background-color: #333;
        color: #fff9ef;
        padding: 20px 0;
        height: 55%;
        width: 100%;
        align-items: center;
        justify-content: center;
        transition: top 0.5s ease;
    }

    .nav-links.active{
        top:60px;
    }

    .logo a{
        font-size: 22px;
        position: inherit;
        line-height: 100%;
        font-weight: bold;
    }

    .hamburger, .close-menu{
        font-size: 20px;
        line-height: 50%;
    }

    .hamburger{
        height: 100%;
        width: 16px;
    }

    .close-menu{
      padding: 15px 20px;
      z-index: 10;
    }

    .close-menu{
        display: block;
        position: fixed;
        top: -100%;
        left: 0;
        color: #fff9ef;
        padding: 20px;
        padding-left: 20px;
        transition: top 0.5s ease;
    }
    
    .close-menu-active{
        top: 0;
        left: 0;
    }

    .container{
        padding: 0 20px;
        z-index: 2;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .main-container{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .page-navigation-list{
      display: none;
    }

    .left-container{
      display: none;
    }

    .top-container-mobile{
      display: flex;
      width: 100%;
      height: auto;
    }
    
    .slideshow-container {
      width: 100%;
      height: 55vh;
      position: relative;
      margin: 0;
      overflow: hidden;
    }

    .slideshow-container img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
    }

    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: #fff9ef;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }

    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }

    .full-screen-overlay .prev, .full-screen-overlay .next {
      position: absolute;
      left: 5%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 30px;
      cursor: pointer;
      user-select: none;
      border-radius: 0 3px 3px 0;
      transition: 0.6s ease;
    }
    
    .full-screen-overlay .next {
      right: 5%;
      left: auto;
      border-radius: 3px 0 0 3px;
    }

    .right-container{
      padding-top: 0;
      padding-right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 100px;
    }
    
    .product-info-container{
      display: flex;
      width: 95%;
      flex-direction: row;
      justify-content: space-between;
    }
    
    .product-info-container h1{
      font-size: 20px;
      font-family: "Noto Serif Display",serif;
    }
    
    .product-info-container p{
      font-size: 14px;
      font-family: "Arial",sans-serif;
    }
    
    .product-name-container{
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    
    .product-price-container{
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    
    .size-container{
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      width: 80%;
      background-color: #fff9ef;
      border: 2px solid #333;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 5px;
    }
    
    .size-container p{
      font-size: 14px;
        font-family: "Noto Sans Mono";
      font-weight: bold;
    }
    
    .size-list{
      display: flex;
      flex-direction: row;
      width: 100%;
      padding-top: 10px;
    }
    
    .size-list-btn{
      border: 2px solid #333;
      color: #333;
      background-color: #fff9ef;
      font-size: 12px;
        font-family: "Noto Sans Mono";
      padding: 10px;
      width: 20px;
      border-radius: 5px;
      text-align: center;
      margin-left: 5px;
      margin-right: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease, color 0.2s ease;
    }
    
    .size-list-btn:hover, .size-list-btn:active{
      color: #fff9ef;
      background-color: #333;
    }
    
    .buy-btn-container{
      display: flex;
      position: fixed;
      bottom: 0;
      background-color: #fff9ef;
      padding-top: 20px;
      padding-bottom: 20px;
      flex-direction: row;
      width: 100%;
      margin-top: 30px;
      justify-content: center;
      z-index: 1;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .buy-btn-container i{
      padding-right: 10px;
    }
    
    .cart-btn{
      font-size: 16px;
      text-align: center;
      font-weight: bold;
        font-family: "Noto Sans Mono";
      border: 2px solid #333;
      background-color: #333;
      color: #fff9ef;
      border-radius: 5px;
      padding: 10px;
      margin-right: 30px;
      cursor: pointer;
      transition: background-color 0.2s ease, color 0.2s ease;
    }
    
    .cart-btn:hover, .cart-btn:active{
      background-color: #fff9ef;
      color: #333;
    }
    
    .wishlist-btn{
      text-align: center;
      font-size: 16px;
      font-weight: bold;
        font-family: "Noto Sans Mono";
      border: 2px solid #333;
      background-color: #fff9ef;
      color: #333;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.2s ease, color 0.2s ease;
    }
    
    .wishlist-btn:hover, .wishlist-btn:active{
      background-color: #333;
      color: #fff9ef;
    }
    
    .details-button{
      font-size: 16px;
      font-family: 'Noto Serif Display';
      font-weight: bold;
      background-color: #fff9ef;
      padding: 10px;
      margin-top: 40px;
      width: 80%;
      border-radius: 5px;
      border: 2px solid #333;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    
    .desp-button{
      font-size: 16px;
      font-family: 'Noto Serif Display';
      font-weight: bold;
      background-color: #fff9ef;
      padding: 10px;
      margin-top: 10px;
      width: 80%;
      border-radius: 5px;
      border: 2px solid #333;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    
    
    .collapsible {
      width: 100%;
      position: relative;
        font-family: "Noto Sans Mono";
      max-height: 0;
      opacity: 0;
      z-index: 0;
      overflow: hidden;
      transition: max-height 0.5s ease, opacity 0.5s ease;
    }
    
    .collapsible.expanded {
      opacity: 1;
      max-height: 500px; /* Adjust this value according to your content height */
    }
    
    .collapsible ul {
      margin: 10px;
      font-size: 14px;
    }
    
    .collapsible li{
      padding: 5px;
    }
    
    .collapsible .expanded p{
      margin-top: 10px;
      margin-left: 10%;
      width: 80%;
      text-align: justify;
      font-size: 14px;
    }

}