*{
    margin: 0;
  }
  
  body{
    margin: 0;
    background-color: #fff9ef;
  }
  
  .noto-serif-display {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  }
  
  .navbar {
    background-color: #333;
    display: flex;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    color: #fff9ef;
    padding: 0px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0;
    padding: 0 20px;
    z-index: 1;
    position: relative;
  }
  
  .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibilty 0.5s ease;
  }
  
  .overlay-active{
    opacity: 1;
    visibility: visible;
    
  }
  
  .logo img{
    top: -75%;
    height: 60px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
  
  .logo a{
    text-decoration: none;
  }
  
  /* .logo a {
    color: #fff9ef;
    text-decoration: none;
    font-size: 36px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 0;
  } */
  
  .sidemenu{
  position: absolute;
  top: 0;
  }
  
  .nav-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    top: 0;
    left: -100%;
    list-style: none;
    background-color: #333;
    height: 100vh;
    width: 30vw;
    padding: 0;
    z-index: 4;
    transition: left 0.5s ease;
  }
  
  .nav-links.active {
    left: 0;
  }
  
  .cat-dropdown{
  display: flex;
  width: 100%;
  position: relative;
  padding: 20px;
  margin-top: 40px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  }
  
  .dropdown{
  overflow: hidden;
  }
  
  .dropdown .dropbtn{
  font-size: 18px;
  border: none;
  outline: none;
  color: #333;
  background-color: #fff9ef;
  width: 140px;
  padding: 10px;
  border-radius: 2.5px;
  margin: 0;
  cursor: pointer;
  }
  
  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff9ef;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  }
  
  .dropdown-content a:hover, .dropdown-content a:active {
  background-color: #d4d4d4;
  }
  
  
  .dropdown:hover .dropdown-content {
  display: block;
  }
  
  .links{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  }
  
  .links li{
  padding: 10px;
  }
  
  .links a {
  color: #fff9ef;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
  }
  
  
  .hamburger{
  display: block;
  }
  
  .hamburger, .close-menu {
    line-height: 0%;
    z-index: 5;
    font-size: 24px;
    cursor: pointer;
  }
  
  .close-menu{
    display: block;
    position: fixed;
    left: -100%;
    color: #fff9ef;
    padding: 20px;
    padding-left: 20px;
    transition: left 0.5s ease;
  }
  
  .close-menu-active{
    left: 0;
  }
  
  .personal{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 24px;
  }
  
  .personal i{
    font-size: 24px;
    color: #fff9ef; 
    padding: 0 10px;
  }

.title{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 50px;
}


.heading{
    color: #333;
    font-size: 36px;
    font-weight: 700;
    font-family: "Noto Serif Display";
    margin-left: 50px;
}

.line{
    width: 250px;
    color: #333;
    border: 1px solid #333;
    border-radius: 0.75px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.main-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.form-container{
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  width: 45%;
}

.form-container h1{
  font-family: "Noto Serif Display";
  font-size: 30px;
  margin-bottom: 20px;
}

.form-container form{
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.form-container form label{
  font-family: "Noto Sans mono";
  font-size: 20px;
  margin-bottom: 5px;
}

.form-container form input{
  background-color: #fff9ef;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 2.5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.pwd-input-container{
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
}

.pwd-input-container input{
  padding-right: 40px;
}

.pwd-toggle-icon{
  position: absolute;
  top: 25%;
  right: 20px;
  cursor: pointer;
}

.form-container div {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.form-container input[type="checkbox"] {
  display: none;
  margin-right: 10px;
  
}

.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 3px;
  background-color: #fff9ef;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
  
}

.custom-label{
  cursor: pointer;
}

.custom-label a{
  color: #333;
}

input[type="checkbox"]:checked + .custom-checkbox {
  background-color: #333;
  transition: background 0.2s ease, color 0.2s ease;
}

input[type="checkbox"]:checked + .custom-checkbox::after {
  content: '\2713'; /* Unicode checkmark character */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff9ef;
  font-size: 14px;
}

.form-container form button{
  background-color: #333;
  color: #fff9ef;
  padding: 10px;
  width: 160px;
  border-radius: 2.5px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  font-family: "Noto Serif Display";
  transition: background-color 0.2s ease, color 0.2s ease;
}

.form-container form button:hover, .form-container form button:active{
  background-color: #fff9ef;
  color: #333;
}

.right-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;
  position: inherit;
}

.right-container h1{
  font-family: "Noto Serif Display";
  font-size: 32px;
  margin-top: -20%;
  margin-bottom: 25px;
}

.right-container a{
  text-decoration: none;
  font-size: 28px;
  font-family: "Noto Serif Display";
  font-weight: bold;
  color: #333;
  background-color: #fff9ef;
  border: 1px solid #333;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 2.5px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.right-container a:hover{
  color: #fff9ef;
  background-color: #333;
}

@media (max-width: 768px) {
    
  .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.personal{
    height: 16px;
}

.personal i{
    font-size: 20px;
    padding: 0 7.5px;
}

.navbar{
  z-index: 3;
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -100%;
    left: 0;
    background-color: #333;
    color: #fff9ef;
    padding: 20px 0;
    height: 55%;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: top 0.5s ease;
}

.nav-links.active{
    top:60px;
}

.logo img{
  
  height: 40px;
  transform: translateX(-50%);
  transform: translateY(10%);
  position: inherit;
  line-height: 100%;
}

.hamburger, .close-menu{
    font-size: 20px;
    line-height: 50%;
}

.hamburger{
    width: 16px;
}

.close-menu{
  padding: 15px 20px;
  z-index: 10;
}

.close-menu{
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    color: #fff9ef;
    padding: 20px;
    padding-left: 20px;
    transition: top 0.5s ease;
}

.close-menu-active{
    top: 0;
    left: 0;
}

.container{
    padding: 0 20px;
    z-index: 2;
}

.nav-links li {
    margin: 10px 0;
}

    .hamburger {
        display: block;
    }

    .title{
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 80%;
      margin-top: 20px;
    }
    
    
    .heading{
        color: #333;
        font-size: 28px;
        font-weight: 700;
        font-family: "Noto Serif Display";
        margin-left: 20px;
    }
    
    .line{
        width: 140px;
        color: #333;
        border: 1px solid #333;
        border-radius: 0.75px;
        margin-bottom: 30px;
        margin-left: 20px;
    }
    
    .main-container{
      width: 100%;
      height: 100%;
      margin-top: 0%;
      display: flex;
      flex-direction: column;
    }
    
    .form-container{
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      width: 90%;
    }
    
    .form-container h1{
      font-family: "Noto Serif Display";
      font-size: 30px;
      margin-bottom: 20px;
    }
    
    .form-container form{
      display: flex;
      flex-direction: column;
      margin-bottom: 60px;
    }
    
    .form-container form label{
      font-family: "Noto Sans mono";
      font-size: 16px;
      margin-bottom: 5px;
    }
    
    .form-container form input{
      background-color: #fff9ef;
      width: 100%;
      padding: 10px;
      font-size: 14px;
      border-radius: 2.5px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }
    
    .pwd-input-container{
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;
      align-items: center;
    }
    
    .pwd-input-container input{
      padding-right: 40px;
    }
    
    .pwd-toggle-icon{
      position: absolute;
      top: 25%;
      right: 20px;
      cursor: pointer;
    }
    
    
    .form-container form button{
      background-color: #333;
      color: #fff9ef;
      padding: 10px;
      width: 160px;
      border-radius: 2.5px;
      cursor: pointer;
      font-size: 16px;
      margin-top: 0px;
      font-family: "Noto Serif Display";
      transition: background-color 0.2s ease, color 0.2s ease;
    }
    
    .form-container form button:hover, .form-container form button:active{
      background-color: #fff9ef;
      color: #333;
    }

    .form-container div {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
    }
    
    .form-container input[type="checkbox"] {
      display: none;
      margin-right: 10px;
      
    }
    
    .custom-checkbox {
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 2px solid #333;
      border-radius: 3px;
      background-color: #fff9ef;
      cursor: pointer;
      position: relative;
      margin-right: 10px;
      
    }
    
    .custom-label{
      cursor: pointer;
    }
    
    .custom-label a{
      color: #333;
    }
    
    input[type="checkbox"]:checked + .custom-checkbox {
      background-color: #333;
      transition: background 0.2s ease, color 0.2s ease;
    }
    
    input[type="checkbox"]:checked + .custom-checkbox::after {
      content: '\2713'; /* Unicode checkmark character */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff9ef;
      font-size: 14px;
    }
    
    .right-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      justify-content: center;
      position: inherit;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    
    .right-container h1{
      font-family: "Noto Serif Display";
      font-size: 28px;
      margin-top: -20%;
      margin-bottom: 25px;
    }
    
    .right-container a{
      text-decoration: none;
      font-size: 20px;
      font-family: "Noto Serif Display";
      font-weight: bold;
      color: #333;
      background-color: #fff9ef;
      border: 1px solid #333;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 2.5px;
      cursor: pointer;
      transition: background-color 0.2s ease, color 0.2s ease;
    }
    
    .right-container a:hover{
      color: #fff9ef;
      background-color: #333;
    }
  }