html{
  margin: 0;
}

*{
  margin: 0;
}

@font-face {
  font-family: 'Sifty';
  src: url('/fonts/sifty_demo-webfont.woff2.woff2') format('woff2'),
      url('/fonts/sifty_demo-webfont.woff') format('woff');
}



body{
  margin: 0;
  background-color: #fff9ef;
}


.navbar {
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 225, 225,0);
  padding:0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  transition:padding 0.3s ease;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0;
  padding:44px 36px;
  z-index: 1;
  position: relative;
  background-color: rgba(255, 225, 225, 0);
  transition: background-color 0.5s ease,padding 0.5s ease;
}

.container.opaque{
  padding:24px 36px;
  background-color: #333;
}

.search{
  line-height: 0%;
  z-index: 5;
  font-size: 24px;
  cursor: pointer;
}

.search a{
  text-decoration: none;
  color: #333;
  transition:color 0.5s ease;
}

.search a.light{
  color: #fff9ef;
}

.search a.opaque{
  color: #fff9ef;
}

.logo-text {
  color: #333;
  text-decoration: none;
  font-size: 64px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  line-height: 0;
  font-family: "Noto Serif Display";
  font-weight: 900;
  transition:color 0.5s ease, font-size 0.5s ease;

}

.logo-text.light{
  color: #fff9ef;
}

.logo-text.opaque{
  font-size: 42px;
  color: #fff9ef;
}

.line{
  width: 0%;
  display: flex;
  align-self: center;
  transition: width 0.5s ease;
  border: 0;
}

.line.opaque{
  width: 100%;
  border: 1px solid #fff9ef;
}

.navbar2{
  display: flex;
  justify-content: center;
  padding: 0 0;
  background-color: rgba(240, 234, 223,0);
  box-shadow: none;
  color: #333;
  transition:color 0.5s ease, background-color 0.5s ease,box-shadow 0.5s ease;

}

.navbar2.light{
  color: #fff9ef;
}

.navbar2.opaque{
  background-color: #3a3a3a;
  color: #fff9ef;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar2 ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
}

.navbar2 li{
  font-family: "Noto Sans mono";
  font-size: 20px;
  padding-top: 16px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}

.navbar2 a{
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  -moz-transition: text-shadow 0.2s ease-in;
  -o-transition: text-shadow 0.2s ease-in;
  -webkit-transition: text-shadow 0.2s ease-in;
  transition: text-shadow 0.2s ease-in;
}

.navbar2 a:hover{
  color: inherit;
  text-shadow:0px 0px 30px #333;
  -moz-transition: text-shadow 0.2s ease-in;
  -o-transition: text-shadow 0.2s ease-in;
  -webkit-transition: text-shadow 0.2s ease-in;
  transition: text-shadow 0.2s ease-in;
}

.navbar2.opaque a:hover{
  color: inherit;
  text-shadow:0px 0px 30px #333;
  -moz-transition: text-shadow 0.2s ease-in;
  -o-transition: text-shadow 0.2s ease-in;
  -webkit-transition: text-shadow 0.2s ease-in;
  transition: text-shadow 0.2s ease-in;
}

.navbar2 ul li .underline{
  height: 5px;
  background-color: transparent;
  width: 0%;
  display: flex;
  align-self: center;
  transition: width 0.2s ease,background-color 0.2s ease;
  margin: 0;
  border-radius: 50px;
  margin-top: 2.5px;
}

.navbar2 ul li:hover .underline{
  background-color: #333;
  width: 30px;
}

.navbar2.light ul li:hover .underline{
  background-color: #fff9ef;
  width: 30px;
}

.navbar2.opaque ul li:hover .underline{
  background-color: #fff9ef;
  width: 30px;
}

.menu-container{
  position: absolute;
  padding: 0;
  top: 188px;
  width: 100%;
  left: 0;
  background-color: #fff9ef4f;
  border: 1px solid #333;
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar2.opaque .menu-container{
  top: 146px;
}

.navbar2 li:hover .menu-container{
  transition: all 0.2s ease;
  top: 178px;
  opacity: 1;
  visibility: visible;
}

.navbar2.light li:hover .menu-container{
  color: #fff9ef;
}

.navbar2.opaque li:hover .menu-container{
  transition: all 0.2s ease;
  background-color: #fff9ef;
  top: 136px;
  opacity: 1;
  visibility: visible;
}

.menu-container .content{
  padding: 25px 40px;
  display: flex;
  justify-content: space-between;
  color: #333;
  height: 450px;
}

.menu-container .content .row{
  width: 25%;
  line-height: 40px;
}

.content .row img{
  height: 90%;
  width: 100%;
  object-fit: cover;
  border-radius: 2.5px;
  border: 1px solid #333;
}

.navbar2 .content .row p{
  font-family: "Noto sans mono";
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: #333;
  transition:color 0.5s ease;
}
.navbar2 .content.light .row p{
  font-family: "Noto sans mono";
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: #fff9ef;
  transition:color 0.5s ease;
}
.navbar2.opaque .content.light .row p{
  font-family: "Noto sans mono";
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: #333;
}

.navbar2 .content .row header{
  color: #333;
  font-size: 20px;
  margin-left: 0px;
  border-bottom: 1px solid #333;
  transition:color 0.5s ease;
}
.navbar2 .content.light .row header{
  color: #fff9ef;
  font-size: 20px;
  margin-left: 0px;
  border-bottom: 1px solid #fff9ef;
  transition:color 0.5s ease;
}
.navbar2.opaque .content.light .row header{
  color: #333;
  font-size: 20px;
  margin-left: 0px;
  border-bottom: 1px solid #333;
}

.content .row .menu-links{
  display: block;
  margin-left: -60px;
  width: 100%;
}

.row .menu-links li{
  padding: 0 0;
}

.navbar2 .row .menu-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #333;
  font-size: 18px;
  display: block;
  transition:all 0.3s ease;
}

.navbar2 .row .menu-links li a.light{
  padding: 0px;
  padding: 0 20px;
  color: #fff9ef;
  font-size: 18px;
  display: block;
}


.navbar2.opaque .row .menu-links li a.light{
  padding: 0px;
  padding: 0 20px;
  color: #333;
  font-size: 18px;
  display: block;
}

.personal{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 24px;
}

.signedin-icons i{
  font-size: 24px;
  color: #333; 
  padding: 0 10px;
  transition: color 0.5s ease;
}

.signedin-icons i.light{
  color: #fff9ef;
}

.signedin-icons i.opaque{
  color: #fff9ef;
}

.loginbtn{
  display: none;
}

.loginbtn a{
  color: #333;
  text-decoration: none;
  font-size: 24px;
  font-family: "Noto Serif Display";
  text-align: center;
  font-weight: bold;
  display: block;
  padding-left: 20px;
  transition: color 0.5s ease;
}

.loginbtn a.light{
  color: #fff9ef;
}

.loginbtn a.opaque{
  color: #fff9ef;
}

.mobile-nav-menu{
  display: none;
}

.mobile-tabs-container{
  display: none;
}

.title-signup{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 180px;
}


.heading-signup{
    color: #333;
    font-size: 36px;
    font-weight: 700;
    font-family: "Noto Serif Display";
    margin-left: 50px;
}

.line-signup{
    width: 250px;
    color: #333;
    border: 1px solid #333;
    border-radius: 0.75px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.main-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.form-container{
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  width: 45%;
}

.form-container h1{
  font-family: "Noto Serif Display";
  font-size: 30px;
  margin-bottom: 20px;
}

.form-container form{
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.form-container form label{
  font-family: "Noto Sans mono";
  font-size: 20px;
  margin-bottom: 5px;
}

.form-container form input{
  background-color: #fff9ef;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 2.5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.pwd-input-container{
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
}

.pwd-input-container input{
  padding-right: 40px;
}

.pwd-toggle-icon{
  position: absolute;
  top: 25%;
  right: 20px;
  cursor: pointer;
}

.form-container div {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.form-container input[type="checkbox"] {
  display: none;
  margin-right: 10px;
  
}

.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 3px;
  background-color: #fff9ef;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
  
}

.custom-label{
  cursor: pointer;
}

.custom-label a{
  color: #333;
}

input[type="checkbox"]:checked + .custom-checkbox {
  background-color: #333;
  transition: background 0.2s ease, color 0.2s ease;
}

input[type="checkbox"]:checked + .custom-checkbox::after {
  content: '\2713'; /* Unicode checkmark character */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff9ef;
  font-size: 14px;
}

.form-container form button{
  background-color: #333;
  color: #fff9ef;
  padding: 10px;
  width: 160px;
  border-radius: 2.5px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  font-family: "Noto Serif Display";
  transition: background-color 0.2s ease, color 0.2s ease;
}

.form-container form button:hover, .form-container form button:active{
  background-color: #fff9ef;
  color: #333;
}

.right-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;
  position: inherit;
}

.right-container h1{
  font-family: "Noto Serif Display";
  font-size: 32px;
  margin-top: -20%;
  margin-bottom: 25px;
}

.right-container a{
  text-decoration: none;
  font-size: 28px;
  font-family: "Noto Serif Display";
  font-weight: bold;
  color: #333;
  background-color: #fff9ef;
  border: 1px solid #333;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 2.5px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.right-container a:hover{
  color: #fff9ef;
  background-color: #333;
}

@media (max-width: 768px) {
    
  .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.personal{
    height: 16px;
}

.personal i{
    font-size: 20px;
    padding: 0 7.5px;
}

.navbar{
  z-index: 3;
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -100%;
    left: 0;
    background-color: #333;
    color: #fff9ef;
    padding: 20px 0;
    height: 55%;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: top 0.5s ease;
}

.nav-links.active{
    top:60px;
}

.logo img{
  
  height: 40px;
  transform: translateX(-50%);
  transform: translateY(10%);
  position: inherit;
  line-height: 100%;
}

.hamburger, .close-menu{
    font-size: 20px;
    line-height: 50%;
}

.hamburger{
    width: 16px;
}

.close-menu{
  padding: 15px 20px;
  z-index: 10;
}

.close-menu{
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    color: #fff9ef;
    padding: 20px;
    padding-left: 20px;
    transition: top 0.5s ease;
}

.close-menu-active{
    top: 0;
    left: 0;
}

.container{
    padding: 0 20px;
    z-index: 2;
}

.nav-links li {
    margin: 10px 0;
}

    .hamburger {
        display: block;
    }

    .title{
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 80%;
      margin-top: 20px;
    }
    
    
    .heading{
        color: #333;
        font-size: 28px;
        font-weight: 700;
        font-family: "Noto Serif Display";
        margin-left: 20px;
    }
    
    .line{
        width: 140px;
        color: #333;
        border: 1px solid #333;
        border-radius: 0.75px;
        margin-bottom: 30px;
        margin-left: 20px;
    }
    
    .main-container{
      width: 100%;
      height: 100%;
      margin-top: 0%;
      display: flex;
      flex-direction: column;
    }
    
    .form-container{
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      width: 90%;
    }
    
    .form-container h1{
      font-family: "Noto Serif Display";
      font-size: 30px;
      margin-bottom: 20px;
    }
    
    .form-container form{
      display: flex;
      flex-direction: column;
      margin-bottom: 60px;
    }
    
    .form-container form label{
      font-family: "Noto Sans mono";
      font-size: 16px;
      margin-bottom: 5px;
    }
    
    .form-container form input{
      background-color: #fff9ef;
      width: 100%;
      padding: 10px;
      font-size: 14px;
      border-radius: 2.5px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }
    
    .pwd-input-container{
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;
      align-items: center;
    }
    
    .pwd-input-container input{
      padding-right: 40px;
    }
    
    .pwd-toggle-icon{
      position: absolute;
      top: 25%;
      right: 20px;
      cursor: pointer;
    }
    
    
    .form-container form button{
      background-color: #333;
      color: #fff9ef;
      padding: 10px;
      width: 160px;
      border-radius: 2.5px;
      cursor: pointer;
      font-size: 16px;
      margin-top: 0px;
      font-family: "Noto Serif Display";
      transition: background-color 0.2s ease, color 0.2s ease;
    }
    
    .form-container form button:hover, .form-container form button:active{
      background-color: #fff9ef;
      color: #333;
    }

    .form-container div {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
    }
    
    .form-container input[type="checkbox"] {
      display: none;
      margin-right: 10px;
      
    }
    
    .custom-checkbox {
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 2px solid #333;
      border-radius: 3px;
      background-color: #fff9ef;
      cursor: pointer;
      position: relative;
      margin-right: 10px;
      
    }
    
    .custom-label{
      cursor: pointer;
    }
    
    .custom-label a{
      color: #333;
    }
    
    input[type="checkbox"]:checked + .custom-checkbox {
      background-color: #333;
      transition: background 0.2s ease, color 0.2s ease;
    }
    
    input[type="checkbox"]:checked + .custom-checkbox::after {
      content: '\2713'; /* Unicode checkmark character */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff9ef;
      font-size: 14px;
    }
    
    .right-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      justify-content: center;
      position: inherit;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    
    .right-container h1{
      font-family: "Noto Serif Display";
      font-size: 28px;
      margin-top: -20%;
      margin-bottom: 25px;
    }
    
    .right-container a{
      text-decoration: none;
      font-size: 20px;
      font-family: "Noto Serif Display";
      font-weight: bold;
      color: #333;
      background-color: #fff9ef;
      border: 1px solid #333;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 2.5px;
      cursor: pointer;
      transition: background-color 0.2s ease, color 0.2s ease;
    }
    
    .right-container a:hover{
      color: #fff9ef;
      background-color: #333;
    }
  }